*{
    font-size: 62,5%;
}
header img{
    width: 5rem;
    margin: 1rem;
}
header{
    height: 7rem;
    background-color: aqua;
}
header p {
    margin: 2rem;
    font-size: 3rem;
    color: blue;
}
header div{
    display: flex;
    gap: 20rem
}
h1{
    text-align: center;
    color: brown;
}

footer{
    display: flex;
    background-color: aqua;
    height: 7rem;
    gap: 48rem;
}
footer p {
    margin: 2rem;
    font-size: 3rem;
}
footer img {
    width: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 6rem;
}